/* Estilos básicos para el menú */
img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.p-menu {
  width: 250px;
  background-color: #f4f4f4;
}

.p-menu .p-menuitem {
  border-bottom: 1px solid #ddd;
}

.p-menu .p-menuitem-text {
  color: #333;
}
