div {

  /* Estilos básicos para el menú */
  div {
    text-align: center;
    margin-top: 1.5rem;
    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
    }
  }

  h2 {
    color: #333;
    text-align: center;
  }

  .p-menu {
    width: 250px;
    background-color: #f4f4f4;
  }

  .p-menu .p-menuitem {
    border-bottom: 1px solid #ddd;
  }

  .p-menu .p-menuitem-text {
    color: #333;
  }

}