/* components/admin-reviews/admin-reviews.component.css */
:host ::ng-deep .comment-preview {
  color: var(--text-color-secondary);
  font-size: 0.875rem;
}

:host ::ng-deep .product-image {
  border: 1px solid var(--surface-300);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}

:host ::ng-deep .p-button.p-button-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}