.app-container {
  display: flex;

  // Sidebar
  app-sidebar {
    width: 250px;
    overflow-y: auto;
      // Puedes ajustar el tamaño del sidebar
    // Color de fondo para el sidebar
    color: #ecf0f1;  // Color de texto
    padding: 10px;
    height: 100%;  // Asegura que el sidebar ocupe toda la altura
    position: fixed;  // Lo fija a la izquierda
    top: 0;
    left: 0;
    z-index: 10;  // Para asegurarse que esté por encima del contenido
  }

  // Contenido principal
  .main-content {
    margin-left: 250px;  // Hace espacio para el sidebar
    padding: 20px;
    flex-grow: 1;  // Permite que el contenido crezca
    background-color: #f4f6f9;  // Color de fondo del contenido principal
    height: 95vh;  // Asegura que el contenido principal ocupe toda la altura
    overflow-y: auto;  // Permite el desplazamiento vertical
  }
}
